services:
  db:
    image: mysql:8.0
    container_name: aiu-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: aiu-adminer
    depends_on:
      - db
    ports:
      - "0.0.0.0:${ADMINER_PORT}:8080"

  mongo:
    image: mongo:7.0
    container_name: aiu-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
      - ./mongo/scripts:/scripts:ro

  mongo-express:
    image: mongo-express:1.0.2
    container_name: aiu-mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - "${MONGO_EXPRESS_PORT}:8081"
    environment:
      # Mongo connection (inside docker network)
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo

      # Browser popup login (BasicAuth) — FIXES the “loop” problem
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    container_name: aiu-clickhouse
    restart: unless-stopped
    environment:
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ports:
      - "${CLICKHOUSE_HTTP_PORT}:8123"
      - "${CLICKHOUSE_NATIVE_PORT}:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  tabix:
    image: spoonest/clickhouse-tabix-web-client
    container_name: aiu-tabix
    restart: unless-stopped
    depends_on:
      - clickhouse
    ports:
      - "${TABIX_PORT}:80"

  neo4j:
    image: neo4j:5.22
    container_name: aiu-neo4j
    restart: unless-stopped
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH}
      NEO4J_ACCEPT_LICENSE_AGREEMENT: ${NEO4J_ACCEPT_LICENSE_AGREEMENT}
      NEO4J_PLUGINS: ${NEO4J_PLUGINS}
      NEO4J_dbms_security_procedures_unrestricted: "gds.*"
      NEO4J_dbms_security_procedures_allowlist: "gds.*"
    ports:
        - "${NEO4J_HTTP_PORT}:7474"
        - "${NEO4J_BOLT_PORT}:7687"
    volumes:
        - neo4j_data:/data


volumes:
  db_data:
  mongo_data:
  clickhouse_data:
  neo4j_data:


